#about{
      height: auto;
      position:relative;
      @media(max-width:992px){
        height: 270vh;
        
      }
    .head{
    /* overflow: hidden;
    position: relative;
    z-index:1; */
    /* /* transform:scale(1.1); */
width: 100%;
height: 100%; 
@media(max-width:992px){
    background-size: cover;
    background-repeat: no-repeat;
    background-size:50rem;

}
.col {
    /* position: absolute; */
    background: url('../../assets/about/Untitled_1.1.2-3.jpg') no-repeat center center;
background-size: cover;
    /* top: 0;
    left: 0;
    width: 100%;*/
    /* height: 90%;  */
    /* backdrop-filter: blur(2px);  */
    /* z-index: 1;  */
    @media(max-width: 992px){
        background-size: cover;
        height: 20vh;
    }
    & h3{
        @media(max-width: 992px){
            background-size: cover;
            height: 15vh;
        }
    }
}
.containerr{
        width:auto;
        display: flex;
        margin-left: 6%;
        margin-right: auto;
        padding-right: 1rem;
        padding-left: 1rem;

    @media(max-width:992px){
        flex-direction: column;
        /* margin-left: 0;
    padding: 0; */
    /* margin-right: 2rem; */
    margin: 0;
    padding: 0;
    }
.col2{
    /* overflow: hidden;
    position: relative;
    z-index:1;
    transform:scale(1.1); */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    margin-top: 3rem;
@media(max-width:992px){
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10rem;
    margin-top: 0;
}
    & h3{
        margin: 2rem;
        text-align: justify;
        line-height: 3rem;

        @media(max-width: 992px){
    text-align: left;

        }
    }
    & h4{
        text-align: justify;
        margin: 2rem;
    }
}
.col3{
width: 50%;
height: 60vh;
display: flex;
flex-direction: column;
/* justify-content: center; */
/* align-items: center; */
margin: 2rem;
margin-top: 5rem;

@media(max-width:992px){
    width: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 4rem;
    height: 50%;
    padding: 0;


}
  
    .imgone{
    
        /* width: 32%;
        height: 32%; */
        background-color:var(--secondary-color);
        width: 53%;
        height: 100%;
border-radius:0 10%;
@media(max-width:992px){
    /* margin-top: 130%; */
    margin-top: 10%;
    margin-left: 20%;
    padding: 0;
}
        & img{
            justify-content: center;
            /* margin: 1rem; */
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            margin-left: 10%;
    width: 100%;
    height: 90%;
    border-radius:0 10% 0 10%;
    margin-top: 1rem;
        }
    }
    .imgtwo {
        background-color: var(--secondary-color);
        width: 53%;
        height: 70%;
        margin-top: 2rem;
        margin-left: 20rem;
        border-radius: 10% 0;
      
        @media (max-width: 992px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 6rem;
          padding: 0;
        }
      
        & img {
          margin-bottom: 2rem;
          display: flex;
          align-items: center;
          margin-right: 10%;
          width: 95%; /* Increase width to extend outside the container */
          height: 90%;
          border-radius: 10% 0 10% 0;
          margin-left: -5%; /* Adjust the negative margin as needed */
      margin-top: 1rem;
          @media (max-width: 992px) {
            width: 95%;
            height: 50%;
            padding: 0;
          }
        }
      }
      
}
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 5rem;
    /* padding-top: 25rem; */
    width: 100%;
    height: 50vh;
    /* height: 50vh; */
    @media(max-width: 992px){
        font-size: 3rem;
        justify-content: center;
        padding-top: 5rem;
    }
}
/* .container{

} */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(2px);
    @media(max-width:1300px){
        margin-top: 9rem;
    } 
    @media(max-width:992px){
        margin-top: 4rem;
        display: flex;
    justify-content: space-around;
    }
  
  .contact, .categories{
    width: 48%; /* Adjust the width as needed */
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 2rem;
   margin-bottom: 7rem;
   @media(max-width: 992px){
    
   }
        border-radius: 20px;
    & h3{
        /* color: white; */
        font-size: 1.7rem;
        padding-top: 4px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 4.5rem;
        @media(max-width: 992px){
    background-color: #d3bfa0;
    font-size: 1.3rem;
        }
    }
   
  }
  
  .contact {
    height: 400px; 
    
    background: url('../../assets/about/114665889-different-types-of-rice-as-background-closeup.jpg') center/cover;
    & aone{
        backdrop-filter: blur(2px); 
            height: 100%;
            width: 100%;
        }

        @media(max-width: 992px){
            background-size: cover;
        }
  }
  .categories{
    height: 400px; 

    background: url('../../assets/about/business-website-page-contact-businessman-touching-contact-us-icons-customer-service-include-telephone-address-email-message-by-3d-render_50039-2828.jpg');
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: black;

   
    @media(max-width: 992px){
       margin: 0;
       padding: 0;
    }

  }
  @media (max-width: 768px) {
    .contact,
    .categories {
      width: 45%; 
    height: 20%;
    margin-top: 5rem;
      background-size: cover;
    
        margin: 0;
        padding: 0;
     /* Full width on smaller screens */
    }
}
}

    }
}






