.main_container{
    /* position: fixed; */
    bottom: 0;
    background-color: rgb(75, 56, 30);
    height: 30%;
    width: 100vw;
    color: white;
    /* margin-top: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
@media(max-width:992px){
    /* margin-top: 470%; */
}
    .heading{
        display: flex;
        height: 100px;
        width: 100px;

        & img{
            width: 400px;
            height: 150px;
        }
    }

    .sub_container{
        color: white;
        & h3{
            color:#e0dbdb;

            font-weight: 80;
            font-size: 20px;
            line-height: 26px;
            margin: 3rem;
            text-align:justify;
        }
    }

    .sub_container2{
        margin:0 5rem;
        display: flex;
        flex-direction: row;
  justify-content: space-between;
margin-bottom: 3rem;
margin-right: 30rem;
        & h3{
            margin-bottom: 15px;
        }
        & h4{
            font-size: 20px;
            color:#e0dbdb;
            margin-bottom: 15px;
        }

        & a{
            text-decoration: none;
            color: black;
        }
        @media(max-width: 992px){
            flex-direction: column;
        }
    }
}


